.Your-Name {
    padding: 7% 15%;
    background-color: #E94560;
    text-align: center;
}

.Vansh-Goel {
    padding: 7% 15%;
    background-color: #FAF4B7;
    text-align: center;
}

#Vansh-Goel {
    font-family: 'Sacramento';
}

#Vansh-Goel-Para {
    font-family: 'Montserrat';
    line-height: 2;
}

.twt {
    padding-top: 10px;
    width: 20px;
}

.Harshvardhan-Sharma{
    text-align: center;
    padding: 7% 15%;
    background-color: #b7facd;
    
}
#Harshvardhan-Sharma{
    font-family: 'Sacramento';

}

#Harshvardhan-Sharma-Para{
    font-family: 'Montserrat';
    line-height: 2;
}
.socials{
    display: flex;
    justify-content: center;
    gap: 1.2rem;
    align-items: center;
}
.github{
    padding-top: 10px;
    width: 20px;

}
.Vansh-Goel {
    padding: 10% 20%;
    background-color: #7FFFD4;
    text-align: center;
}

#Vansh-Goel {
    font-family: 'Montserrat';
}

#Vansh-Goel-Para {
    font-family: 'Montserrat';
    line-height: 3;
}

.twt {
    padding-top: 10px;
    width: 20px;
}
