.Your-Name {
    padding: 7% 15%;
    background-color: #E94560;
    text-align: center;
}

.Vansh-Goel {
    padding: 7% 15%;
    background-color: #FAF4B7;
    text-align: center;
}

#Vansh-Goel {
    font-family: 'Sacramento';
}

#Vansh-Goel-Para {
    font-family: 'Montserrat';
    line-height: 2;
}

.twt {
    padding-top: 10px;
    width: 20px;
}