header {
  height: 10vh;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(86, 39, 255);
}
body{
  background-color: #222;
}
header > form {
  display: flex;
  justify-content: space-around;

}

.hero-img{
  width: 110px;
  border-radius: 50%;
}


#name-input {
  padding: 0.5rem;
  border-radius: 5px 0 0 5px;
  outline: none;
  border: none;
  width: 240px;
  height: 40px;
}

#search-btn {
  border: none;
  outline: none;
  cursor: pointer;
  height: 40px;
  width: 60px;
  border-radius: 0 5px 5px 0;
  background-color: white;
  font-weight: 400;
  color: rgb(86, 39, 255);
}

.Your-Name {
  padding: 7% 15%;
  background-color: #e94560;
  text-align: center;
}

.Vansh-Goel {
  padding: 7% 15%;
  background-color: #faf4b7;
  text-align: center;
}

#Vansh-Goel {
  font-family: "Sacramento";
}

#Vansh-Goel-Para {
  font-family: "Montserrat";
  line-height: 2;
}

.twt {
  padding-top: 10px;
  width: 20px;
}

.Harshvardhan-Sharma {
  text-align: center;
  padding: 7% 15%;
  background-color: #b7facd;
}
#Harshvardhan-Sharma {
  font-family: "Sacramento";
}

#Harshvardhan-Sharma-Para {
  font-family: "Montserrat";
  line-height: 2;
}

.Aditi-Bendre {
  padding: 7% 15%;
  background-color: rgba(134, 232, 119, 0.973);
  text-align: center;
}

#Aditi-Bendre {
  font-family: "Sacramento";
}

#Aditi-Bendre {
  font-family: "Montserrat";
  line-height: 2;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
  align-items: center;
}
.github {
  padding-top: 10px;
  width: 20px;
}

.Chirag-Khatri {
  padding: 7% 15%;
  background-color: #faf4b7;
  text-align: center;
}

#Chirag-Khatri {
  font-family: "Sacramento";
}

#Chirag-Khatri-Para {
  font-family: "Montserrat";
  line-height: 2;
}

.Lea-Guedj {
  padding: 7% 15%;
  background-color: rgb(235, 89, 133);
  text-align: center;
}

#Lea-Guedj {
  font-family: "Sacramento";
}

#Lea-Guedj {
  font-family: "Montserrat";
  line-height: 2;
}

.twt {
  padding-top: 10px;
  width: 20px;
}
.Om-Sarraf {
  padding: 7% 15%;
  background-color: rgba(134, 232, 119, 0.973);
  text-align: center;
}

#Om-Sarraf {
  font-family: "Sacramento";
}

#Om-Sarraf {
  font-family: "Montserrat";
  line-height: 2;
}

.Markus-Eicher {
  padding: 7% 15%;
  background-color: rgb(55, 64, 192);
  text-align: center;
}

#Markus-Eicher {
  font-family: "Montserrat";
  color: white;
}

.Markus-Eicher-Para {
  color: white;
  text-align: center;
}

#mke-twt {
  padding-top: 10px;
  width: 20px;
}

.Jayne-Elliott {
  padding: 7% 15%;
  background-color: rgb(200, 55, 142);
  text-align: center;
  color: rgb(41, 9, 74);
}

.Jayne-Elliott-Para {
  color: rgb(22, 64, 5);
  font-weight: 700;
}

.Rachit {
  padding: 7% 15%;
  background-color: #eaf6f6;
  font-family: "Sacramento", sans-serif;
  text-align: center;
}
.Rachit-Para {
  font-family: "Montserrat";
  line-height: 2;
  margin: 2px auto 16px auto;
  width: 85%;
}
.Aman {
  padding: 7% 15%;
  background-color: aquamarine;
  font-family: "Sacramento";
  text-align: center;
}
.Aman-Para {
  font-family: "Montserrat";
  line-height: 2;
}
.taniab{
  font-family:"Sacramento";
  background-color:rgb(230, 116, 116);
  text-align: center;
  padding: 7% 15%;
}
.tania{
  font-family:"Montserrat";
  line-height: 2;
}

.Ishika-Ishani {
  text-align: center;
  padding: 7% 15%;
  background-color: rgb(115, 199, 251);
}

#Ishika-Ishani {
  font-family: "Sacramento";
}

#Ishika-Ishani-Para {
  font-family: "Montserrat";
  line-height: 2;
}
.socials {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
  align-items: center;
}
.github {
  padding-top: 10px;
  width: 20px;
}
.Dhruvi {
  font-family: "Sacramento";
  background-color: lightblue;
  text-align: center;
  font-size: 52px;
}

.Ishika-Garg {
  padding: 7% 15%;
  background-color: LightPink;
  text-align: center;
}

#Ishika-Garg {
  font-family: "Sacramento";
}

#Ishika_Garg-Para {
  font-family: "Montserrat";
  line-height: 2;
}

.twt {
  padding-top: 10px;
  width: 20px;
}

.footer {
  padding: 7% 15%;
  background-color: black;
}

.Angel-Bansal {
  padding: 7% 15%;
  background-color: rgba(170, 119, 232, 0.973);
  text-align: center;
}

#Angel-Bansal {
  font-family: "tahoma";
}

#Angel-Bansal {
  font-family: "Montserrat";
  line-height: 2;
}

.Divas {
  padding: 7% 15%;
  background-color: #faf4b7;
  text-align: center;
}

#Divas {
  font-family: "tahoma";
}

#Divas {
  font-family: "Montserrat";
  line-height: 2;
}
.Jitesh{
  padding: 7% 15%;
  background-color: #fb87f5;
  text-align: center;
}
#jitesh_span{
  font-family: 'Lobster', cursive;
}

.mridul2820 {
  padding: 7% 15%;
  background-color: rgba(150, 230, 161, 0.5);
  text-align: center;
}

#mridul2820 {
  font-family: "Sacramento";

}

.Shivam-Pathak {
    padding: 7% 15%;
    background-color: #8966f2;
    text-align: center;
}

#Shivam-Pathak {
    font-family: 'Courier New';
    line-height: 3;
}

#Shivam-Pathak-Para{
    font-family: 'Courier New';
    line-height: 2;
}

.linkd {
    padding-top: 10px;
    width: 20px;

}

.poojaShinde {
  padding: 7% 15%;
  background-color: rgb(84, 55, 200);
  text-align: center;
  color: rgb(255, 255, 255);
}

.poojaShinde-Para {
  color: rgb(255, 255, 255);
  font-weight: 700;
}


.AyushSrivastava {
  text-align: center;
  padding: 7% 15%;
  background-color: #b7b8fa;
}
#Ayush-Srivastava {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#Ayush-paragraph {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  line-height: 2;
}

.SrikarM{
    padding: 7% 15%;
    background-color: #7DF9FF;
    text-align: center;
}

#SrikarM{
    font-family: 'Sacramento';
    line-height: 2;
}

.linkedin{
    padding-top: 10px;
    padding-left:2px;
    width: 20px;
}

.taniab{
  font-family:"Sacramento";
  background-color:rgb(230, 116, 116);
  text-align: center;
  padding: 7% 15%;
}
.tania{
  font-family:"Montserrat";
  line-height: 2;
}

.Harsh-Kapoor{
  padding: 7% 15%;
  background-color: aquamarine;
  text-align: center;
}

#Harsh-Kapoor {
  font-family: "Sacramento";
}

#harsh_span{
  font-family: 'Lobster', cursive;
}

#Harsh-Kapoor {
  font-family: "Montserrat";
  line-height: 2;
}

.Agnese {
  padding: 7% 15%;
  background-color: #efb661;
  text-align: center;
}

#Agnese {
  font-family: 'Zapfino Extra LT', sans-serif;
}

#AgneseB2 {
  font-family: "Montserrat";
  line-height: 2;
}

.HarshKukreja {
  padding: 7% 15%;
  background-color: #ABEBC6;
  text-align: center;
}

#HarshKukreja {
  font-family: 'Zapfino Extra LT', sans-serif;
}

#harsh25k {
  font-family: "Montserrat";
  line-height: 2;
}

.AyushSoni {
  padding: 7% 15%;
  background-color: #eaf6f6;
  text-align: center;
}
#Ayush-Soni {
  font-family: "Sacramento";
}

#Ayush-paragraph {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  line-height: 2;
}


.Aryan-Sharma{
  padding: 7% 15%;
  background-color: rgb(30, 120, 132);
  text-align: center;
}

#Aryan-Sharma {
  font-family: "Sacramento";
}

#Aryan-Sharma_span{
  font-family: 'Lobster', cursive;
}

#Aryan-Sharma{
  font-family: "Sacramento";
  z-index: 2;
}

.Yashraj {
  padding: 7% 15%;
  background-color: #A9A9A9;
  text-align: center;
}

#Yash-raj {
  font-family: "Sacramento";
}

.Yash-Raj-Para {
  font-family: "Montserrat";
  line-height: 2;
}

.Rishabh {
  padding: 7% 15%;
  background-color: #2be6f4;
  text-align: center;
}

#risahbh {
  font-family: "Sacramento";
}

.Rishabh {
  font-family: "Montserrat";
  line-height: 2;
}

.Ujjwal-Gupta {
  padding: 7% 15%;
  background-color: #faf4b7;
  text-align: center;
}

#Ujjwal-Gupta {
  font-family: "Sacramento";
}

#Ujjwal-Gupta-Para {
  font-family: "Montserrat";
  line-height: 2;
}

/* raj */
.raj{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding:20px 0;
  /* gradient */
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

}

.saran {
  text-align: center;
  padding: 7% 15%;
  /* background-color: #b7b8fa; */
  background-image: linear-gradient(to right,rgb(46, 161, 243),rgb(11, 247, 184), rgb(48, 162, 244));
}
#saran-sinha {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/* scroll to top */
#scrolltp{
  color:white ;
  background: tomato;
  padding: 15px;
  border-radius: 50%;
  position: fixed;
  right: 50px;
  bottom: 50px;
  transition:opacity 0.5s;
}

.twt {
  padding-top: 10px;
  width: 20px;
}

.krishna {
  background: #121212;
  color: white;
  padding: 10% 15%;
  text-align: center;
  font-family: "Montserrat";
  /* line-height: 2; */
}

#krishna {
  font-family: "Montserrat";
}
#krishna span {
  font-family: "Poppins";
  font-weight: 600;
  background: -webkit-linear-gradient(137.49deg, #8242B9 10.37%, #B82F8C 75.94%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.krishna .socials {
  border: #7DF9FF;
  filter: drop-shadow(30px 10px 4px linear-gradient(137.49deg, #8242B9 10.37%, #B82F8C 75.94%););
}
